body{
  font-family: 'Open Sans', sans-serif;
}

/*offcanvas*/

.canvalist{
  margin-top: 10px;
  }

/*navbar*/

.nav-item{
  margin-left: 20px;
}
.logo{
  margin-left: 90px;
  margin-right: 100px;
  text-decoration: none;
  font-size: 26px;
}
.menu{
  margin-top:1.2px;
  color: white;
}
/*carousel*/
.carousel {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}
.carousel-caption{
  margin-bottom: 150px;
  margin-right: 35px;
  font-size: 35px;
  color:rgb(255, 239, 239);
  text-decoration: none;
  
}
/*imggroup1*/
.imggroup1{
  width: 250px;
  height: 300px;
  margin-top: 50px;
  margin-left:50px;
  border-radius: 10px;
} 
.img-container {
  position: relative;
  display: inline-block;
}
.imggr{
  position: relative;
  display: inline-block;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:292px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 253, 253, 0.8);
  opacity: 0;
  margin-top: 150px;
  margin-left:19px;
  margin-bottom: 0px;
  margin-right: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: height 0.4s;
}
.img-container:hover .img-overlay {
  opacity: 1;
}

.img-caption {
  color: rgb(143, 140, 140);
  font-size: 20px;
  font-weight: bold;
}
.head-img {
  font-family: 'Italianno', cursive;
  justify-content: center;
  font-size: 80px;
  margin-top: 130px;
  margin-left: 210px;
  margin-bottom: 50px;
  color: #eb6161;
}
/*imgbanner*/
.img-container-banner {
  position: relative;
  display: inline-block;
}

.img-layer {
  width: 100%;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-overlay-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-button {
  border-radius: 50px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-button:hover {
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
  border: none;
}
/*imggroup2*/
.imggroup2{
  height: 300px;
  width:250px;
  margin-right: 10px;
  margin-top: 50px;
  border-radius:60px;
}
.img-container {
  position: relative;
  display: inline-block;
}
.head-img2{
  font-family: 'Italianno', cursive;
  justify-content: center;
  font-size: 80px;
  margin-top: 60px;
  margin-left: 210px;
  margin-bottom: 50px;
  color: #eb6161;
}
.desc-img2{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

/*blog-section*/
.color{
  color: #eb6161;
}
.trends{
  margin-top: 100px;
}
.card {
  display: inline-block;
  margin-bottom: 50px;
  background-color: #fff7f7;; 
  margin-right: 30px;
  width: 300px;
}

.description {
  margin-left: 50px;
  margin-right: 10px;
}
.addit{
 text-align: center;
}
.title{
  text-decoration: none;
  color: #0caab6;
  text-align: center;
}
.nom{
  text-decoration: none;
  color:#fa6c6c;
  font-weight: bold;
}
.date{
  text-align: center;
}
.photo-container {
  display: inline-block;
}

.photo-container img {
  width: 290px;
  height: 250px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.scrolling-container {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Enable touch scrolling */
  margin-bottom: 100px;
  margin-top: 10px;
}

.scrolling-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.scrolling-indicators .indicator {
  width: 20px;
  height: 20px;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.scrolling-indicators .indicator.active {
  background-color: black;
}
.read-more{
  margin-bottom: 20px;
  margin-left: 100px;
  background-color:#fa6c6c;
  border-color: #ffaaaa;
  color: #e7dfe1;
}
  /*footer*/
  .fb{
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
  .fb:hover{
    color: rgb(24, 104, 173);
  }
  .gg{
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
  .gg:hover{
    color: rgb(197, 0, 0);
  }
  .pintr{
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
  .pintr:hover{
    color: rgb(235, 39, 13);
  }
  .tw{
    color:rgb(0, 0, 0);
    font-size: 22px;
  }
  .tw:hover{
    color: rgb(19, 129, 226);
  }
  .in{
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
  .in:hover{
    color: rgb(0, 136, 255);
  }
  .ytb{
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
  .ytb:hover{
    color: rgb(214, 18, 18);
  }
  .insta{
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
  .insta:hover{
    color: #E1306C;
  }
  
  footer {
    text-align: center;
    width: 100%;
    height: 300px;
    flex: 0 0 calc(33.33% - 1rem);
    background-color: rgb(31, 28, 28);
    color: #fff;
  }

  
